.peg-game {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  min-width: 240px;
  width: 200px;
}

.peg-game-status {
  margin: 10px;
  font-size: 14px;
}

.peg-board {
  display: grid;
  grid-template-columns: repeat(7, 20px);
  gap: 5px;
  justify-content: center;
}

.peg-board .cell {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.peg-board .cell.peg {
  background-color: blue;
}

.peg-board .cell.empty {
  background-color: white;
  border: 2px solid black;
}

.peg-board .cell.invalid {
  visibility: hidden;
}

.peg-board .cell.selected {
  border: 2px solid red;
}
