
.form-parts-container .slider-range {
  display: flex;
  flex-direction: column;
}

.form-parts-container .slider-range input {
  accent-color: #000;
}

.form-parts-container .slider-range div {
  display: flex;
  justify-content: space-between;
}

.form-parts-container .slider-range span {
  padding: 0 8px 0 8px;
}
