.dice-game {
  width: 160px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  padding: 20px;
}

.dice-game .dice-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.dice-game .dice-container .dice {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
}

.dice-game .dice-container .dice-dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.dice-game .dice-button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  height: fit-content;
  transition: border-color 0.25s;
}

.dice-game .dice-button:active {
  outline: 8px auto black;
}

.dice-game .dice-button:disabled {
  cursor: not-allowed;
  outline: transparent;
}
