
.backgammon-board .checker {
  width: 20px;
  height: 20px;
  background-color: #e76f51;
  border-radius: 50%;
  margin: 2px auto;
}

.backgammon-board .checker.player_left {
  background-color: #ffebcd;
}

.backgammon-board .checker.player_right {
  background-color: #010101;
}
