.connect4-game {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  align-items: center;
  width: 420px;
}

.connect4-game .connect4-title {
  margin: 0 0 10px 0;
}

.connect4-game .connect4-actions {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.connect4-game button:active {
  outline: 8px auto #646cff;
}

.connect4-game button:disabled {
  cursor: not-allowed;
  outline: transparent;
}
