.slide-puzzle-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 360px;
}

.slide-puzzle-title {
  margin: 0 0 10px 0;
}

.slider-puzzle button:active {
  outline: 8px auto #646cff;
}

.slider-puzzle button:disabled {
  cursor: not-allowed;
  outline: transparent;
}
